<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logo-white.png' %}">
    <title>Operation completed!Download the result.</title>
</head>

<body>
    <nav class="sticky">
        <div class="container">
            <div class="nav-row">
                <img src="{% static 'img/logo-white.png' %}" alt="OMNIFOOD_LOGO" class="logo">
                <img src="{% static 'img/logo.png' %}" alt="OMNIFOOD_LOGO" class="logo-black">
                <ul class="main-nav js--main-nav">
                    <li><a href="{% url 'index' %}">PDF Master</a></li>
                    <li><a href="{% url 'index' %}">How it Works</a></li>
                    <li><a href="{% url 'index' %}">Tools</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
                <a class="mobile-nav-icon js--nav-icon"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </nav>

    <section class="center">
        <div class="container">
            <div class="row text-center">
                <h2>Word to PDF Convertor</h2>
            </div>
            <div class="row">
                <div class="col-6 offset-3 text-center mt-5">
                    <p>Hurrayy!!Your File has been Converted Successfully. Download the Converted file below:</p>
                    <a class="btn btn-primary" href="{{fileurl}}" download="proposed_file_name" style="margin-bottom:40px;">Download</a>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-footer" id="contact" style="margin-top: 33px;">
        <div class="container">
            <div class="heading text-center">Contact Us</div>
            <div class="main-footer-div" style="display: flex; align-items: center; justify-content: space-around;">
                <div class="pdf-logo">
                    <img src="{% static 'img/logo-white.png' %}" alt="NA" style="height: 170px; width: 170px; margin-top: 10px;">
                </div>
                <div class="contact-div" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div class="photo mb-2">
                        <img src="{% static 'img/anmol.jpeg' %}" alt="" style="height:60px; width: 60px; border-radius: 50%; border: 2px solid #fff;">
                    </div>
                    <div class="links">
                        <a style="margin-right: 5px;" href="https://www.linkedin.com/in/anmol-namdev/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a style="margin-right: 5px;" href="https://www.instagram.com/anmolnamdev123/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a style="margin-right: 5px;" href="https://git.cse.iitb.ac.in/anmolnamdev" target="_blank"><i class="fab fa-github"></i></a><br>
                    </div>
                    <div class="name">
                        Anmol Namdev
                    </div>
                </div>
                <div class="contact-div" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div class="photo mb-2">
                        <img src="{% static 'img/jeel.jpeg' %}" alt="" style="height:60px; width: 60px; border-radius: 50%; border: 2px solid #fff;">
                    </div>
                    <div class="links">
                        <a style="margin-right: 5px;" href="https://www.linkedin.com/in/jeel-nathani-85b046184" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a style="margin-right: 5px;" href="https://www.instagram.com/jeel.nathani/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a style="margin-right: 5px;" href="https://github.com/jeelnathani" target="_blank"><i class="fab fa-github"></i></a><br>
                    </div>
                    <div class="name">
                        Jeel Nathani
                    </div>
                </div>
                <div class="contact-div" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div class="photo mb-2">
                        <img src="{% static 'img/vatsal.jpeg' %}" alt="" style="height:60px; width: 60px; border-radius: 50%; border: 2px solid #fff;">
                    </div>
                    <div class="links">
                        <a style="margin-right: 5px;" href="https://www.linkedin.com/in/vatsal-dani-926202189/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a style="margin-right: 5px;" href="https://www.instagram.com/dani_vatsal_/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a style="margin-right: 5px;" href="https://github.com/vatsal-27" target="_blank"><i class="fab fa-github"></i></a><br>
                    </div>
                    <div class="name">
                        Vatsal Dani
                    </div>
                </div>

            </div>
        </div>
        <div class="row text-center">
            <p style="margin-top: -1rem;">Copyright &copy; 2021 by IInd_gen_technerds. All rights reserved.</p>
        </div>
    </section>

    <script src="{% static 'script/script.js' %}"></script>
    <script src="{% static 'script/jquery.waypoints.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>

</html>
